.main-container {
    margin-top:100px;
    width:100%;
    height:auto;
    z-index:5000;
}
.bar{
    width:100%;
    height:100px;
    display:flex;
    flex-direction: column;
    position:fixed;
    top:0;
    background-color: #282C34;
    z-index:100000;
}
/* navigation bar logo */
.logo{
    width:50px;
    height:50px;
    cursor: pointer;
}

.logo-header{
    font-family:Futura;
    color:#00d474;
    margin:5px;
    font-weight:bold;
    font-size:16px;
    letter-spacing: 1px;
}

/* input search logo */
.search-logo{
    position:absolute;
    bottom:7.5px;
    left:5px;
}

.movies-menu{
    position:absolute;
    right:10px;
    cursor: pointer;
}

/* navigation div */
.nav{
    width:100%;
    height:65px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px 0 10px;
}
/* text input */
.search {
    width:100%;
    height:35px;
    background-color: #282C34;
    color:white;
    border:0px;
    outline:0px;
    border-top:0.5px solid gray;
    border-bottom:0.5px solid gray;
    cursor: pointer;
    padding-left:30px;
}


.links-list {
    width:auto;
    margin:110px 5px 10px 5px;
    position:absolute;
    top:2px;
    left:2px;
    z-index:150;
}

.get-btn{
    height:25px;
    background:transparent;
    color:white;
    margin:5px;
    outline:0px;
    border:1px solid gray;
    border-radius:5px;
    font-family:Roboto;
    cursor: pointer;
}

.get-btn-on{
   color: #282C34;
   background-color:white;
}

.movies-container{
    position:relative;
    max-width:2000px;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap:20px;
    left:50%;
    transform:translateX(-50%);
    padding-bottom:10px;
    padding-top:60px;
}

@media only screen and (min-width: 800px) {
  .movies-container {
      padding-left:50px;
      padding-right:50px;
      padding-bottom:35px;
  }
}

.movie {
    width:97%;
    height:300px;
    position: relative;
    display:flex;
    flex-direction: column;
    align-self:stretch;
    align-items:center;
    justify-content: center;
    left:50%;
    transform:translateX(-50%);
    cursor: pointer;
}

.movie:hover .movie-poster{
    opacity: 1;
	animation: flash 1.5s
}


.movie-poster{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width:98%;
    height:225px;
    cursor:pointer;
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}


.movie-info{
    width:98%;
    height:75px;
    position:relative;
    padding:10px 50px 10px 10px;
    border:1px solid gray;
    border-top:0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display:flex;
    align-items:center;
    justify-content: flex-start;
}

.favourite {
    height:30px;
    width:30px;
    position:absolute;
    right:15px;
    cursor: pointer;
}

.name-date{
    display:flex;
    flex-direction: column;
    margin-left:10px;
    align-items:flex-start;
}
.movie-name{
    font-family:Basker;
    color:white;
    font-size:14px;
    margin:2px;
    line-height: 18px;
}

.movie-date {
    color:lightgray;
    font-size:15px;
    font-family:Roboto;
}

.rating-circle{
    width:40px !important;
    height:40px !important;
}

.nav-menu {
    position: fixed;
    z-index:100000;
    top:100px;
    width:100%;
    height:100%;
    background:rgb(40,44,52);
    display:none;
    animation:fadeIn 150ms;
    padding:50px;
}
.menu-on{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.menu-link {
    color:white;
    font-family:Futura;
    text-decoration: none;
    font-size:25px;
    margin:7px;
}

.menu-icon {
    cursor: pointer;
    position: absolute;
    right:15px;
}


@keyframes fadeIn{
    0%{
       transform:scale(0);
    }

100%{
       transform:scale(1);
    }
}